<div class="container">
  <div class="d-flex justify-content-between align-items-center user-bar">
    <!-- Change image to be different for each person -->
    <div class="d-flex m-4 user-info">
      <% if current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, height: 250, width: 333, crop: :fill, class: 'avatar-large' %>
      <% end %>
      <h1 class="p-4 align-middle user-name">  <%= @user.username %> </h1>
    </div>
    <div class="add-new-link"><%= link_to 'Add New Plant', new_plant_path, class: 'btn btn-success btn-lg user_home_btn m-5' %></div>
  </div>

  <nav>
    <div class="nav nav-tabs mt-4 mb-4" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-my-plants-tab" data-toggle="tab" href="#nav-my-plants" role="tab" aria-controls="nav-my-plants" aria-selected="true">My Plants</a>
      <a class="nav-item nav-link" id="nav-my-purchases-tab" data-toggle="tab" href="#nav-my-purchases" role="tab" aria-controls="nav-my-purchases" aria-selected="false">My Purchases</a>
      <a class="nav-item nav-link" id="nav-plants-sold-tab" data-toggle="tab" href="#nav-plants-sold" role="tab" aria-controls="nav-plants-sold" aria-selected="false">Plants Sold</a>
    </div>
  </nav>

  <div class="tab-content p-3" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-my-plants" role="tabpanel" aria-labelledby="nav-my-plants-tab">
      <% if  @my_plants.first == nil %>
        <p class="user_home_alert">No plants for sale right now. Add a new plant to get started!</p>
      <% else %>
        <div class="cards">
          <% @my_plants.each do |plant| %>
            <% if plant.category == "tree"%>
              <div class="card-plant-tree">
            <% elsif plant.category == "flower" %>
              <div class="card-plant-flower">
            <% elsif plant.category == "bush" %>
              <div class="card-plant-bush">
            <% elsif plant.category == "cactus" %>
              <div class="card-plant-cactus">
            <% end %>
              <% if plant.photo.attached? %>
                <%= cl_image_tag plant.photo.key, height: 250, width: 333, crop: :fill %>
              <% end %>
              <div class="card-plant-info">
                <div class="card-plant-info-details">
                  <h3><%= plant.name %></h3>
                  <h3>£<%= plant.price %></h3>
                </div>
                <div class="d-flex justify-content-between">
                  <% if plant.category == "tree" %>
                    <p class="m-0"><i class="fa fa-tree icon-tree"></i></p>
                  <% elsif plant.category == "flower" %>
                    <p class="m-0"><i class="fa fa-fan icon-flower"> </i></p>
                  <% elsif plant.category == "bush" %>
                    <p class="m-0"><i class="fa fa-cannabis icon-bush"></i></p>
                  <% else %>
                    <p class="m-0"><i class="fas fa-sun icon-cactus"></i></p>
                  <% end %>
                  <span class="card-plant-show-link user_home_btns">
                    <%= link_to edit_plant_path(plant) do%>
                      <i class="far fa-edit"></i>
                    <% end %>
                    <%= link_to plant_path(plant), method: :delete do%>
                      <i class="far fa-trash-alt"></i>
                    <% end %>
                  </span>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="tab-pane fade" id="nav-my-purchases" role="tabpanel" aria-labelledby="nav-my-purchases-tab">
      <% if  @my_purchases.length == 0 %>
        <p class="user_home_alert">Nothing purchased yet. Happy plant finding!</p>
      <% else %>
        <div class="cards">
          <% @my_purchases.each do |purchase| %>
            <% if purchase.category == "tree"%>
              <div class="card-plant-tree">
            <% elsif purchase.category == "flower" %>
              <div class="card-plant-flower">
            <% elsif purchase.category == "bush" %>
              <div class="card-plant-bush">
            <% elsif purchase.category == "cactus" %>
              <div class="card-plant-cactus">
            <% end %>
            <div class="card-plant">
              <% if purchase.photo.attached? %>
                <%= cl_image_tag purchase.photo.key, height: 250, width: 333, crop: :fill %>
              <% end %>
              <div class="card-plant-info">
                <div class="card-plant-info-details">
                  <h3><%= purchase.name %></h3>
                  <h3>£<%= purchase.price %></h3>
                </div>
                <div class="d-flex justify-content-between">
                  <% if purchase.category == "tree" %>
                    <p class="m-0"><i class="fa fa-tree icon-tree"></i></p>
                  <% elsif purchase.category == "flower" %>
                    <p class="m-0"><i class="fa fa-fan icon-flower"> </i></p>
                  <% elsif purchase.category == "bush" %>
                    <p class="m-0"><i class="fa fa-cannabis icon-bush"></i></p>
                  <% else %>
                    <p class="m-0"><i class="fas fa-sun icon-cactus"></i></p>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="tab-pane fade" id="nav-plants-sold" role="tabpanel" aria-labelledby="nav-plants-sold-tab">
      <% if  @plants_sold.length == 0 %>
        <p class="user_home_alert">No plants sold yet, come back later.</p>
      <% else %>
        <div class="cards">
          <% @plants_sold.each do |plant_sold| %>
            <% if plant_sold.plant.category == "tree"%>
              <div class="card-plant-tree">
            <% elsif plant_sold.plant.category == "flower" %>
              <div class="card-plant-flower">
            <% elsif plant_sold.plant.category == "bush" %>
              <div class="card-plant-bush">
            <% elsif plant_sold.plant.category == "cactus" %>
              <div class="card-plant-cactus">
            <% end %>
            <div class="card-plant">
              <% if plant_sold.plant.photo.attached? %>
                <%= cl_image_tag plant_sold.plant.photo.key, height: 250, width: 333, crop: :fill %>
              <% end %>
              <div class="card-plant-info">
                  <div class="card-plant-info-details">
                    <h3><%= plant_sold.plant.name %></h3>
                    <h3>£<%= plant_sold.plant.price %></h3>
                  </div>
                  <% if plant_sold.plant.category == "tree" %>
                    <p class="m-0"><i class="fa fa-tree icon-tree"></i></p>
                  <% elsif plant_sold.plant.category == "flower" %>
                    <p class="m-0"><i class="fa fa-fan icon-flower"> </i></p>
                  <% elsif plant_sold.plant.category == "bush" %>
                    <p class="m-0"><i class="fa fa-cannabis icon-bush"></i></p>
                  <% else %>
                    <p class="m-0"><i class="fas fa-sun icon-cactus"></i></p>
                  <% end %>
                </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>
</div>
