<div class="container">

  <div class="show-plant">
    <div class="show-info">
      <div class="show-details">
        <div><h3>Edit <%= @plant.name %></h3></div>
      </div>
      <div class="show-description"><%= @plant.description %></div>

      <div>
        <%= simple_form_for(@plant) do |f| %>
          <%= f.input :name %>
          <%= f.input :category, collection: ['tree', 'flower', 'bush', 'cactus'] %>
          <%= f.input :price, input_html: { min: 1 } %>
          <%= f.input :description %>
          <%= f.submit 'Save', class: 'btn btn-success' %>
        <% end %>
      </div>

    </div>
  </div>
</div>

<script type="text/javascript">
  const quantity = document.getElementById("quantity");
  const total = document.getElementById("total");

  quantity.addEventListener("click", (e) => {
    total.value = `£${ quantity.value * <%= @plant.price %> }`
  })
</script>


