  <div class="container">

    <h1 class="cards-header">Trees</h1>
    <div class="cards">
      <% @plants.select do |plant| %>
        <% if plant.category == "tree" %>
          <div class="card-plant">
            <img class="card-plant-image" src="https://images.unsplash.com/photo-1502394202744-021cfbb17454?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80" alt="">
            <div class="card-plant-info">
              <div class="card-plant-info-details">
                <h3><%= plant.name %></h3>
                <h3>£<%= plant.price %></h3>
              </div>
              <span class="card-plant-show-link">
                <%= truncate(plant.description, length: 125) %>

                <%= link_to(plant_path(plant)) do %>
                  ...see more <%= icon("fas", "seedling") %>
                <% end %>
              </span>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <h1 class="cards-header">Flowers</h1>
    <div class="cards">
      <% @plants.select do |plant| %>
        <% if plant.category == "flower" %>
          <div class="card-plant">
            <img class="card-plant-image" src="https://images.unsplash.com/photo-1502394202744-021cfbb17454?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80" alt="">
            <div class="card-plant-info">
              <div class="card-plant-info-details">
                <h3><%= plant.name %></h3>
                <h3>£<%= plant.price %></h3>
              </div>
              <span class="card-plant-show-link">
                <%= truncate(plant.description, length: 125) %>
                <%= link_to(plant_path(plant)) do %>
                  ...see more <%= icon("fas", "seedling") %>
                <% end %>
              </span>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <h1 class="cards-header">Bushes</h1>
    <div class="cards">
      <% @plants.select do |plant| %>
        <% if plant.category == "bush" %>
          <div class="card-plant">
            <img class="card-plant-image" src="https://images.unsplash.com/photo-1502394202744-021cfbb17454?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80" alt="">
            <div class="card-plant-info">
              <div class="card-plant-info-details">
                <h3><%= plant.name %></h3>
                <h3>£<%= plant.price %></h3>
              </div>
              <span class="card-plant-show-link">
                <%= truncate(plant.description, length: 125) %>
                <%= link_to(plant_path(plant)) do %>
                  ...see more <%= icon("fas", "seedling") %>
                <% end %>
              </span>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <h1 class="cards-header">Cacti</h1>
    <div class="cards">
      <% @plants.select do |plant| %>
        <% if plant.category == "cactus" %>
          <div class="card-plant">
            <img class="card-plant-image" src="https://images.unsplash.com/photo-1502394202744-021cfbb17454?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80" alt="">
            <div class="card-plant-info">
              <div class="card-plant-info-details">
                <h3><%= plant.name %></h3>
                <h3>£<%= plant.price %></h3>
              </div>
              <span class="card-plant-show-link">
                <%= truncate(plant.description, length: 125) %>
                <%= link_to(plant_path(plant)) do %>
                  ...see more <%= icon("fas", "seedling") %>
                <% end %>
              </span>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

  </div>
