<div class="container">
    <%= form_tag plants_path, method: :get, class: "form-inline form-search" do %>
      <%= text_field_tag :query,
        params[:query],
        class: 'form-control',
        placeholder: 'Find a plant'
        %>
      <%= submit_tag 'Search', class: 'btn btn-success ml-2'%>
    <% end %>

    <div>
      <% @groups.each do |category, plants| %>
        <% if category == "tree" %>
          <h1 class="cards-header"><i class="fas fa-tree"></i> <%= category.capitalize.pluralize %></h1>
        <% elsif category == "flower" %>
          <h1 class="cards-header"><i class="fas fa-fan"></i> <%= category.capitalize.pluralize %></h1>
        <% elsif category == "bush" %>
          <h1 class="cards-header"><i class="fab fa-pagelines"></i> <%= category.capitalize.pluralize %></h1>
        <% elsif category == "cactus" %>
          <h1 class="cards-header"><i class="fas fa-cannabis"></i> Cacti</h1>
        <% else %>
          <h1 class="cards-header"><i class="fas fa-cannabis"></i> <%= category.capitalize.pluralize %></h1>
        <% end %>
        <div class="cards">
          <% plants.each do |plant| %>
            <div class="card-plant">
              <%= link_to plant_path(plant) do %>
                <% if plant.photo.attached? %>
                  <%= cl_image_tag plant.photo.key, height: 250, width: 344, crop: :fill %>
                <% end %>
              <% end %>
              <div class="card-plant-info">
                <div class="card-plant-info-details">
                  <h3><%= link_to plant.name, plant_path(plant) %></h3>
                  <h3>£<%= link_to plant.price, plant_path(plant) %></h3>
                </div>
                <span class="card-plant-show-link">
                  <%= truncate(plant.description, length: 120) %>
                  <%= link_to(plant_path(plant)) do %>
                    ...see more <%= icon("fas", "seedling") %>
                  <% end %>
                </span>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
</div>
