<h1>Trees</h1>
<ul>
  <%= @trees.each do |tree| %>
  <li><%= tree %></li>
  <% end %>
</ul>
<br>
<h1>Flowers</h1>
<ul>
  <%= @flowers.each do |flower| %>
  <li><%= flower %></li>
  <% end %>
</ul>
<br>
<h1>Bushes</h1>
<ul>
  <%= @bushes.each do |bush| %>
  <li><%= bush %></li>
  <% end %>
</ul>
<br>
<h1>Cacti</h1>
<ul>
  <%= @Cacti.each do |cactus| %>
  <li><%= cactus %></li>
  <% end %>
</ul>
<br>
