  <div class="container">

    <h1 class="cards-header">Trees</h1>
    <div class="cards">
      <% @trees.each do |tree| %>
        <div class="card-plant">
          <img class="card-plant-image" src="https://images.unsplash.com/photo-1485955900006-10f4d324d411?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80" alt="">
          <div class="card-plant-info">
            <div class="card-plant-info-details">
              <h3><%= tree.name %></h3>
              <h3>£<%= tree.price %></h3>
            </div>
            <p><%= tree.description %></p>
          </div>
        </div>
      <% end %>
    </div>

    <h1 class="cards-header">Flowers</h1>
    <div class="cards">
      <% @flowers.each do |flower| %>
        <div class="card-plant">
          <img class="card-plant-image" src="https://images.unsplash.com/photo-1485955900006-10f4d324d411?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80" alt="">
          <div class="card-plant-info">
            <div class="card-plant-info-details">
              <h3><%= flower.name %></h3>
              <h3>£<%= flower.price %></h3>
            </div>
            <p><%= flower.description %></p>
          </div>
        </div>
      <% end %>
    </div>

    <h1 class="cards-header">Bushes</h1>
    <div class="cards">
      <% @bushes.each do |bush| %>
        <div class="card-plant">
          <img class="card-plant-image" src="https://images.unsplash.com/photo-1485955900006-10f4d324d411?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80" alt="">
          <div class="card-plant-info">
            <div class="card-plant-info-details">
              <h3><%= bush.name %></h3>
              <h3>£<%= bush.price %></h3>
            </div>
            <p><%= bush.description %></p>
          </div>
        </div>
      <% end %>
    </div>

    <h1 class="cards-header">Cacti</h1>
    <div class="cards">
      <% @cacti.each do |cactus| %>
        <div class="card-plant">
          <img class="card-plant-image" src="https://images.unsplash.com/photo-1485955900006-10f4d324d411?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80" alt="">
          <div class="card-plant-info">
            <div class="card-plant-info-details">
              <h3><%= cactus.name %></h3>
              <h3>£<%= cactus.price %></h3>
            </div>
            <p><%= cactus.description %></p>
          </div>
        </div>
      <% end %>
    </div>

  </div>
