<div class="container">
  <h1>Add plant</h1>
   <%= simple_form_for(@plant) do |f| %>
    <%= f.input :name %>
    <%= f.input :category, collection: ['Tree', 'Flower', 'Bush', 'Cactus'] %>
    <%= f.input :price, input_html: { min: 1 } %>
    <%= f.input :description %>
    <%= f.submit 'Save', class: 'btn btn-success' %>
  <% end %>
</div>
