 <h1>Make new plant page</h1>
 <%= simple_form_for(@plant) do |f| %>
  <%= f.input_field :name %>
  <%= f.input_field :category%>
  <%= f.input_field :price %>
  <%= f.input_field :description %>
  <%= f.submit 'Save' %>
<% end %>
