<div class="container">
  <% if current_user == @plant.user %>
    <div class="d-flex justify-content-center show-notification">
      <%= link_to user_path do %>
        <p>Guess What? You own this plant! Congratulations! <br> Click here to return to your profile and see more of your plants</p>
      <% end %>
    </div>
  <% end %>

  <% if @plant.category == "tree" %>
    <div id="plant-id" class="show-plant-tree" data-id= <%= @plant.id %>>
  <% elsif @plant.category == "flower" %>
    <div id="plant-id" class="show-plant-flower" data-id= <%= @plant.id %>>
  <% elsif @plant.category == "bush" %>
    <div id="plant-id" class="show-plant-bush" data-id= <%= @plant.id %>>
  <% elsif @plant.category == "cactus" %>
    <div id="plant-id" class="show-plant-cactus" data-id= <%= @plant.id %>>
  <% end %>
    <div>
      <% if @plant.photo.attached? %>
        <%= cl_image_tag @plant.photo.key, height: 300, width: 400, crop: :fill, class: "show-plant-image" %>
      <% end %>

    </div>
    <div class="show-info">
      <div class="show-details">
        <div>
          <% if @plant.category == "tree" %>
            <h3><i class="fas fa-tree icon-tree"></i> <%= @plant.name %></h3>
          <% elsif @plant.category == "flower" %>
            <h3><i class="fas fa-fan icon-flower"> </i> <%= @plant.name %></h3>
          <% elsif @plant.category == "bush" %>
            <h3><i class="fas fa-cannabis icon-bush"></i> <%= @plant.name %></h3>
          <% elsif %>
            <h3><i class="fa fa-sun icon-cactus"></i> <%= @plant.name %></h3>
          <% end %>
        </div>
        <div><h3>£<%= @plant.price %></h3></div>
      </div>
      <div class="show-description"><%= @plant.description %></div>
        <p class="confirmation-message">How many would you like to buy?</p>
        <form class="show-form" id="show-form">
          <div class="show-input">
            <label for="quantity">Quantity</label>
            <% if current_user != @plant.user %>
              <input id="quantity" name="quantity" type="number" value="1" min="1" increment="1">
            <% else %>
              <input id="quantity" name="quantity" type="number" value="1" disabled>
            <% end %>
          </div>
          <div class="show-input">
            <label for="total">Total</label>
            <input id="total" value="£<%= @plant.price %>" disabled>
          </div>
          <div class="show-btns">
            <%= link_to plants_path do %>
              <button class="btn btn-success cancel">Home</button>
            <% end %>
            <% if current_user != @plant.user %>
                <button id="buy-btn" class="btn btn-success" type="submit">Next</button>
            <% end %>
          </div>
        </form>
      </div>
    </div>
  </div>

<script type="text/javascript">
  const quantity = document.getElementById("quantity");
  const total = document.getElementById("total");

  quantity.addEventListener("click", (e) => {
    total.value = `£${ quantity.value * <%= @plant.price %> }`
  })

  const buy = document.getElementById("show-form");

  buy.addEventListener("submit", (e) => {
    e.preventDefault();
    window.location.href = window.location.href + `/transactions/new?quantity=` + quantity.value;
  })

</script>
