<div class="container">

  <div class="show-plant">
    <div>
      <img class="show-plant-image" src="https://images.unsplash.com/photo-1502394202744-021cfbb17454?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80" alt="">
    </div>
    <div class="show-info">
      <div class="show-details">
        <% if @plant.category == "tree" %>
            <h3><i class="fas fa-tree"></i> <%= @plant.name %></h3>
          <% elsif @plant.category == "flower" %>
            <h3><i class="fas fa-fan"> </i> <%= @plant.name %></h3>
          <% elsif @plant.category == "bush" %>
            <h3><i class="fab fa-pagelines"></i> <%= @plant.name %></h3>
          <% else %>
            <h3><i class="fas fa-cannabis"></i> <%= @plant.name %></h3>
          <% end %>
        <div><h3>£<%= @plant.price %></h3></div>
      </div>
      <div class="show-description"><%= @plant.description %></div>

      <p class="confirmation-message">Click "Buy" to confirm...</p>
      <form class="show-form">
        <div class="show-input">
          <label for="quantity">Quantity</label>
          <input id="quantity" type="number" value="<%= params[:quantity] %>" disabled>
        </div>
        <div class="show-input">
          <label for="total">Total</label>
          <input id="total" value="£<%= @plant.price * params[:quantity].to_i %>" disabled>
        </div>
        <div class="show-btns">
          <%= link_to plant_path(@plant) do %>
            <button class="btn btn-success cancel">Cancel</button>
          <% end %>
          <%= link_to plant_transactions_path(@plant), method: :post do %>
            <button type="submit" class="btn btn-success"><strong>Buy</strong></button>
          <% end %>
        </div>
      </form>

    </div>
  </div>
</div>
